.comp2 form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comp2 p {
  margin-bottom: 10px;
}

.comp2 form input {
  width: 200px;
  height: 30px;
}

.comp2 form input:not(:last-child) {
  margin-bottom: 10px;
}
