.Form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Form p {
  margin-bottom: 10px;
}

.Form form input {
  width: 200px;
  height: 30px;
}

.Form form input:not(:last-child) {
  margin-bottom: 10px;
}
