.App {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 10vh;
}

.App > div {
  border: 1px solid #000;
  padding: 10px;
}

.App > div:not(:last-child) {
  margin-bottom: 2rem;
}

.App > div h2 {
  margin-bottom: 10px;
}

.App > div button {
  padding: 10px 20px;
  border: none;
  background-color: #0000ff91;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
